<div class="container">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- NodeExpress Bottom Banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4266560994470212"
     data-ad-slot="6524058645"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr>

<footer >
  <p>&copy; sharechiwai.com <%= "2016" %> </p>
</footer>
</div>
</div>
