<h2>Show HTML Code</h2>
<pre><code class="js">
function hello() {
    if(1>2){
  console.log('hello world!');
    }
}
</code>
<code class="html">
    <h1> Hello</h1>
    &lt;h1&gt; Hello &lt;/h1&gt;
</code>
</pre>
