<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Node Express</h1>
    <p>This is a sample project which is created by ShareChiWai, to keep a collection on NodeJs / Web App code template.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">

      <h2>NodeJs</h2>
      <p>This contain a collection of code which i used to build my NodeJs App </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Angular2</h2>
      <p>Sample AngularJs 2 Project, which could be use and clone to create other web application</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>CSS</h2>
      <p>Collection of some CSS code which I find very useful</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
