<script src="//code.responsivevoice.org/responsivevoice.js"></script>

<div class="container">
<h2>Cantonese</h2>
<button class="btnSpeak btn-success  btn-block">早晨</button>
<button class="btnSpeak btn-success  btn-block"  >你好</button>
<button class="btnSpeak btn-success btn-block"  style="display:block">好食</button>
<button class="btnSpeak btn-success btn-block"  style="display:block">好勁</button>
<button class="btnSpeak btn-success btn-block"  style="display:block">好叻</button>
<button class="btnSpeak btn-success btn-block"  style="display:block">幾多錢</button>
<button class="btnSpeak btn-success btn-block"  style="display:block">幾錢</button>
<button class="btnSpeak btn-success btn-block"  style="display:block">靚女</button>

</div>

<script>
$( document ).ready(function() {
 
  $(".btnSpeak").click(function(){
responsiveVoice.speak($(this).text(), "Chinese (Hong Kong) Female");

});
});
</script>
